{
  "src/**/*.+(js|ts|tsx)": [
    "jest --findRelatedTests",
  ],
  "**/*.+(js|json|ts|tsx)": [
    "prettier --write",
    "git add",
    "git diff --quiet -- && git diff --staged --quiet -- || git commit -m \"Format files\""
  ]
}