{
  "src/**/*.+(js|ts|tsx)": [
    "jest --findRelatedTests",
  ],
  "**/*.+(js|json|ts|tsx)": [
    "prettier --write",
    "git add",
    "echo `git commit -m \"Format files\" || \"No files to format\"`"
  ]
}